
.clr-primary-1 {
	color: var(--clr-primary-1);
}

.clr-accent-1 {
	color: var(--clr-accent-1);
}

.clr-accent-2 {
	color: var(--clr-accent-2);
}

.clr-neutral-1 {
	color: var(--clr-neutral-1);
}

.clr-neutral-2 {
	color: var(--clr-neutral-2);
}

.bg-primary-1 {
	background-color: var(--clr-primary-1);
}

.bg-accent-1 {
	background-color: var(--clr-accent-1);
}

.bg-accent-2 {
	background-color: var(--clr-accent-2);
}

.bg-neutral-1 {
	background-color: var(--clr-neutral-1);
}

.bg-neutral-2 {
	background-color: var(--clr-neutral-2);
}

.f-size-1 {
	font-size: var(--f-size-1);
}

.f-size-2 {
	font-size: var(--f-size-2);
}

.f-size-3 {
	font-size: var(--f-size-3);
}

.f-size-4 {
	font-size: var(--f-size-4);
}

.f-size-5 {
	font-size: var(--f-size-5);
}

.f-size-6 {
	font-size: var(--f-size-6);
}

.f-size-7 {
	font-size: var(--f-size-7);
}

.f-size-fluid-1 {
	font-size: var(--f-size-fluid-1);
}

.f-size-fluid-2 {
	font-size: var(--f-size-fluid-2);
}

.f-size-fluid-3 {
	font-size: var(--f-size-fluid-3);
}

.f-size-fluid-4 {
	font-size: var(--f-size-fluid-4);
}

.f-size-fluid-5 {
	font-size: var(--f-size-fluid-5);
}

.f-size-fluid-6 {
	font-size: var(--f-size-fluid-6);
}



.sr-only {
	position    : absolute;
	overflow    : hidden;
	margin      : -1px;
	padding     : 0;
	width       : 1px;
	height      : 1px;
	white-space : nowrap;
	clip        : rect(0, 0, 0, 0);
	border      : 0;
}