
.flow {
	--_flow-size : var(--flow-size, var(--size, 1em));

	display : grid;
	gap      : var(--_flow-size);

	&[data-inherit-size] {
		--flow-size : inherit;
	}

	&[data-initial-size] {
		--flow-size : 1em;
	}
}
