
.btn {
	--_font-size     : var(--btn-f-size, var(--f-size, 1rem));
	--_font-weight   : var(--btn-f-weight, var(--f-weight, bold));
	--_clr           : var(--btn-clr, var(--clr, hsl(0, 0%, 100%)));
	--_bg            : var(--btn-bg, var(--bg, hsl(0, 0%, 0%)));

	display          : inline-flex;
	align-items      : center;
	cursor           : pointer;
	border           : none;

	font-size        : var(--_font-size);
	font-weight      : var(--_font-weight);
	line-height      : 1;

	color            : var(--_clr);
	background-color : var(--_bg);
	border-radius    : var(--radius-1, 0.425em);

	transition       : color 150ms ease-in-out, background-color 150ms ease-in-out;

	&:has(svg) {
		gap : 0.5em;
	}

	svg {
		inline-size : 1.825em;
	}

}

[data-type='primary'].btn {
	--f-size   : var(--f-size-fluid-3);
	--f-weight : var(--fw-bold);
	--clr      : #FFFFFF;
	--bg       : var(--clr-accent-1);

	padding    : 0.75em 1.425em 0.825em;

	@media (--mouse) {
		&:hover {
			background-color : color-mix(in srgb, var(--_bg) 77%, #FFFFFF);
		}
	}
}

[data-type='secondary'].btn {
	--f-size       : var(--f-size-2);
	--f-weight     : var(--fw-bold);
	--clr          : var(--clr-secondary-2);
	--bg           : transparent;

	--_bg-active   : color-mix(in srgb, var(--_clr) 5%, hsla(0, 0%, 53%, 0.1));

	letter-spacing : 0.2em;
	text-transform : uppercase;
	padding        : 0.45em 1em 0.5em;


	&[data-active='true'] {
		--bg : var(--_bg-active);
	}

	@media (--mouse) {
		&:hover {
			--bg : var(--_bg-active);
		}
	}
}

