
.navigation {
	overflow    : auto;
	inline-size : 100%;

	@media (--touch) {
		--_bg                 : var(--bg, var(--clr-primary-2));
		--_size-shadow        : 1.125em;
		--_clr-shadow         : color-mix(in srgb, var(--clr-primary-1) 50%, hsla(0, 0%, 53%, 0.5));
		--_t                  : rgba(0, 0, 0, 0);

		scrollbar-width       : none;
		overflow-scrolling    : touch;

		background            : linear-gradient(to right, var(--_bg), var(--_bg), var(--_t) calc(var(--_size-shadow) * 2)),
		radial-gradient(farthest-side at 0 50%, var(--_clr-shadow), var(--_t)),
		linear-gradient(to left, var(--_bg), var(--_bg), var(--_t) calc(var(--_size-shadow) * 2)),
		radial-gradient(farthest-side at 100% 50%, var(--_clr-shadow), var(--_t)) 100%;
		background-color      : var(--_bg);
		background-repeat     : no-repeat;
		background-attachment : local, scroll, local, scroll;
		background-size       : 100% 100%, var(--_size-shadow) 100%, 100% 100%, var(--_size-shadow) 100%;
	}

	&::-webkit-scrollbar {
		@media (--touch) {
			inline-size : 0;
			block-size  : 0;
		}
	}
}