
.search {
	padding     : var(--size-fluid-1, 1em);
	inline-size : 100%;

	[data-theme='light'] & {
		box-shadow : 0 1rem 1.875rem -0.625rem var(--clr-shadow)
	}

	input {
		background-color : inherit;
		border           : none;
		inline-size      : 100%;
		text-overflow    : ellipsis;
		overflow         : hidden;
		white-space      : nowrap;
	}

	input::placeholder {
		color : inherit;
	}

	input:focus-visible {
		outline : none;
	}

	&:has(:where(input:focus-visible, input:not(:placeholder-shown))) p {
		display : none;
	}

	svg {
		inline-size         : 1.25em;
		margin-inline-start : calc(var(--size) / 1.5);
		translate           : 0 15%;
	}
}