
.user {
	border-radius  : var(--radius-4, 1rem);
	padding-block  : var(--size-fluid-9, 2rem);
	padding-inline : var(--size-fluid-8, 2rem);

	@media (--above-md) {
		grid-template-areas   :
			'avatar info'
			'avatar body';
		grid-template-columns : auto 1fr;
		grid-template-rows    : auto 1fr;
	}

	&__header {
		@media (--above-md) {
			display : contents;
		}
	}

	&__avatar {
		@media (--above-md) {
			grid-area : avatar;
		}
	}

	&__info {
		@media (--above-md) {
			grid-area : info;
		}
	}


	&__body {
		@media (--above-md) {
			grid-area : body;
		}
	}

	&__avatar {
		border-radius : var(--radius-circle, 50%);
		inline-size   : clamp(4.375rem, -0.521rem + 16.319vw, 7.313rem);
	}

}